.drink > img {
    width: 100%;
  }

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90dvh;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.25);
    gap: 20px;
    padding-bottom: 10px;
  }

#drinks {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.drink {
  width: 20%;
  background-color: #D8B84B;
  padding: 5px;
  border-radius: 5px;
}

.drink > p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}

#buttons {
  display: flex;
  gap: 30px;
  width: 96%;
  justify-content: space-evenly;
  background-color: #D8B84B;
  padding: 20px;
}

#buttons > button {
  display: inline-block;
  padding: 3px;
  transform: scale(1.5);
  border: 1px solid black;
  border-radius: 5px;
  height: 2dvh;
  width: 3dvw;
  font-size: 1vh;
  background-color: rgba(255, 255, 255, 0.664);
  transition: transform 0.5s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}

#buttons > button:hover {
  transform: scale(2);
  overflow: visible;
  text-overflow: clip;
  width: auto;
  min-width: 3vw;
}
