.carrosel {
  display: flex;
  gap: 25px;
  width: 60%;
  height: 70%;
  overflow-x: scroll;
  padding: 15px;
  scroll-snap-type: x mandatory;
  background-color: #8f634c;
  margin-top: 5px;
}

.itemCar {
  background-color: #f0f0f054;
  border-radius: 8px;
  flex: 0 0 auto;
  padding: 10px;
  scroll-snap-align: start;
  width: 10%;
  height: 70%;
  overflow-x: hidden;
}

.img {
  width: 100%;
  height: auto;
}

/* Estiliza a barra de rolagem */
::-webkit-scrollbar {
  height: 10px;
}

/* Estiliza o trilho da barra de rolagem */
::-webkit-scrollbar-track {
  background-color: #00000059;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; /* Cor de fundo do trilho */
}

/* Estiliza a "thumb", ou seja, a parte que você arrasta */
::-webkit-scrollbar-thumb {
  background-color: #AF9182; /* Cor da "thumb" */
  border-radius: 10px; /* Arredondar os cantos */
}

/* Quando o usuário está interagindo com a "thumb" */
::-webkit-scrollbar-thumb:hover {
  background-color: #af7a5f; /* Mudar a cor ao passar o mouse */
}
