* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  background-color: #6b4b3ab0;
  background-image: url('/images/fundo.png');
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

button:hover,
label:hover {
  cursor: pointer;
}

ul {
  margin-top: 10%;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
