* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #f5edcf;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('src/images/fundo.png');
}

body {
  margin: 0;
  background-color: #00000030 !important;
  border-radius: 20px;
}
